<div class="card">
    <div class="container">
        <div class="d-flex justify-content-center">
            <form>
                <div class="form-group">
                    <input type="username" class="form-control" id="parent-username" placeholder="Enter name">
                    <small class="form-text text-muted">Enter an identifier you will remember</small>
                </div>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>
</div>