<div class="card p-3 m-3">
    <input [(ngModel)]="username" type="text" name="user" class="form-control m-3" id="username" placeholder="Username">
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let image of images; index as i;" (click)="onImageClick(i)">
            <img src="{{ image }}">
        </mat-grid-tile>
    </mat-grid-list>
    <div class="container">
        <div *ngFor="let image of imageSelection" style="display:inline-block">
            <h1>*</h1>
        </div>
    </div>
    <div>
        <h5 class="red" [hidden]="!noUser">Username is empty</h5>
        <h5 class="red" [hidden]="!noPicture">Password must contain atleast 3 pictures</h5>
        <h5 class="red" [hidden]="!failed">Faild to log in, please try again</h5>
        <h5 [hidden]="!again">Please re-enter your password</h5>
        <h5 class="red" [hidden]="!noMatch">Passwords do not match, please enter a new password</h5>
        <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Login</button>
        <button type="submit" class="btn btn-secondary m-3" (click)="onClearClick()">Clear</button>
    </div>
</div>