<div class="card p-3">
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let image of images; index as i;" (click)="onImageClick(i)"
            [ngClass]="{'highlight': selectedIndex === i}">
            <img src="{{ image }}">
        </mat-grid-tile>
    </mat-grid-list>
    <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
        <button type="submit" class="btn btn-secondary m-3" (click)="onClearClick()">Clear</button>
    </div>
</div>