<div class="container">
    <div class="row p-5">
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="m-4">
                    <p>Hello,</p>
                    <p>For this study you will be creating accounts for 3 fake websites. For security, try not to
                        use passwords you've already created for other sites but do try to make them memorable like you
                        would in real life. When you create an account for one site, it will immediately take you on to
                        the next site until you are done.</p>
                    <p> If you are a new user, click the new user
                        button and create a memorable username. You will need it when you return. If you are an existing
                        user, click existing user and enter in the username you used last time you visted</p>
                    <p>Thanks!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="btn-group">
                <button class="btn btn-primary m-5" routerLink="/user-select">New User</button>
                <button class="btn btn-secondary m-5" routerLink="/user">Existing User</button>
            </div>
        </div>
    </div>
</div>